.select .main{
    border: 1px black solid;
    display: inline-block;
    min-height: 20px;
    min-width: 70px;
}

.items{
    position: absolute;
    padding: 5px;
    border: 1px black solid;
    min-width: 60px;
}

.item.selected{
    background-color: blue;
    color: white;
}
